.eventCreateGrid {
  display: grid;
  grid-template-columns: minmax(240px, 40%) minmax(0, 1fr);
  gap: 3rem;
}

@media (max-width: 650px) {
  .eventCreateGrid {
    grid-template-columns: 1fr;
  }
}

.eventCover {
  width: 100%;
  aspect-ratio: 1 / 1;
}
